{% extends "layout.twig" %}

{% block content %}

<h1>Dashboard</h1>
<ul class="list-group">
  <li class="list-group-item"><a class="btn btn-primary" href="/users/add">Add User</a></li>
  <li class="list-group-item"><a class="btn btn-primary" href="/users/edit">User edit</a></li>
  <li class="list-group-item"><a class="btn btn-primary" href="/jobs/add">Add Job</a></li>
</ul>
<br><br>

<a href="/logout">Logout</a>
{% endblock %}