{% extends "layout.twig" %}

{% block content %}
    <h1>Login User</h1>
    <div class="alert alert-primary" role="alert">
      {{ responseMessage }}
    </div>
    <div class="form-group">
        <form action="/auth" method="post" >
            <label for="">Username:</label>
            <input class="form-control" type="email" name="email" placeholder="email"><br>
            <label for="">Password:</label>
            <input class="form-control" type="password" name="password" placeholder="password"><br>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
{% endblock %}