{% extends "layout.twig" %}

{% block content %}
    <h1>Login User</h1>
    <div class="alert alert-primary" role="alert">
      {{ responseMessage }}
    </div>
    <form action="/auth" method="post" >
        <label for="">Username:</label>
        <input type="text" name="username" placeholder="username"><br>
        <label for="">Password:</label>
        <input type="password" name="password" placeholder="password"><br>
        <button type="submit">Login</button>
    </form>
{% endblock %}